/* planning-chart.component.css */

/* Center the chart and make it responsive */
.chart-container {
  width: 80%;
  margin: 0 auto;  /* Center the chart horizontally */
  max-width: 1200px; /* Maximum width for larger screens */
  padding: 2%;
}

canvas {

  width: 100%; /* Make the canvas responsive */
  height: 800px; /* Adjust height automatically */
}
