body {
  font-family: Arial, sans-serif;
}

.chart-container {
  overflow-x: auto;
  margin: 20px 0;
  width: 100%;
}

.chart {
  display: grid;
  /* grid-template-columns: repeat(32, 1fr);  */
  background-color: #dee2e6;
}

.room-name {
  grid-column: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f9fa;
  /* border: 0.5px  rgb(90, 85, 85);  */
  border:1px solid #EAEAEA;
  height: 30px;
  padding: 0 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: bold;
}

.day-header {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
  /* border-bottom: 1px solid black;
  border-right: 1px solid black; */
  /* border: 0.5px  rgb(90, 85, 85);  */
  border:1px solid #FEFEFE;
  height: 50px;
  padding: 5px;  
  font-weight: bold;
}

/* .available {
  background-color: #d4edda;
} */

.current-month{
  padding-top: 10px;
}

h4{
  color: darkslategray;
}

.cell.available {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.not-available {
  background-color: #F7F7F7;
}

.weekend {
  background-color: #fff3cd;
}

.reserved {
  background-color: red;
 
}

.available.weekend {
  background-color: #d4edda;
}

.cell {
  position: relative;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  border:1px solid #EAEAEA;
}

/* .cell.selected {
  background-color: #007bff;
  border: 2px solid #007bff;
} */

.selected {
  border: 2px solid #007bff; /* Blue border for selected cells */
}

.cell.selected-start {
  border-left: 2px solid #007bff;
}

.cell.selected-end {
  border-right: 2px solid #007bff;
}

.cell.available.arrival-day {
  background-color: #c3e6cb; /* Slightly greener color for arrival days */
  cursor: pointer;
}

.cell.selected {
  background-color: #007bff !important; /* Blue background for selected cells */
  border: 2px solid #007bff !important; /* Blue border for selected cells */
}

.cell.reserved {
  position: relative;
  display: inline-block;
  border: none;
}

.cell.reserved::after {
  content: attr(title);
  position: absolute;
  bottom: 100%; /* Position above the cell */
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
  font-size: 12px;
  z-index: 1000;
}

/* Show tooltip on hover */
.cell.reserved:hover::after {
  opacity: 1;
  visibility: visible;
}