<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <label for="locationFilter">Location:</label>
      <select id="locationFilter" (change)="onLocationFilterChange($event)">
        <option value="">All Locations</option>
        <option *ngFor="let location of locations" [value]="location">{{ location }}</option>
      </select>
    </div>
    <div class="col-md-3">
      <label for="guestCapacityFilter">Number of Persons:</label>
      <select id="guestCapacityFilter" (change)="onGuestCapacityFilterChange($event)">
        <option value="">All Capacities</option>
        <option *ngFor="let capacity of guestCapacities" [value]="capacity">{{ capacity }} or more</option>
      </select>
    </div>

    <div class="col-md-12">
      <div class="row">
        <!-- Legend Section (12-column layout) -->
        <div class="col-md-12 legends">
          <div class="row justify-content-center"> <!-- Center the legend items row -->
            <!-- Legend Item 1 -->
            <div class="col-6 col-md-2 d-flex justify-content-center">
              <div class="legend-item">
                <div class="legend-box" style="background-color: rgb(90, 90, 207);"></div>
                <span class="legend-box-span">Booked periods</span>
              </div>
            </div>
    
            <!-- Legend Item 2 -->
            <div class="col-6 col-md-2 d-flex justify-content-center">
              <div class="legend-item">
                <div class="legend-box" style="background-color: orange;"></div>
                <span class="legend-box-span">Checked-In</span>
              </div>
            </div>
    
            <!-- Legend Item 3 -->
            <div class="col-6 col-md-2 d-flex justify-content-center">
              <div class="legend-item">
                <div class="legend-box" style="background-color: #D2B48C;"></div>
                <span class="legend-box-span">Checked-Out</span>
              </div>
            </div>
    
            <!-- Legend Item 4 -->
            <div class="col-6 col-md-2 d-flex justify-content-center">
              <div class="legend-item">
                <div class="legend-box" style="background-color: #c3e6cb;"></div>
                <span class="legend-box-span">Arrival available Days</span>
              </div>
            </div>
    
            <!-- Legend Item 5 -->
            <div class="col-6 col-md-2 d-flex justify-content-center">
              <div class="legend-item">
                <div class="legend-box" style="background-color: #EAEAEA;"></div>
                <span class="legend-box-span">Blocked non-arrival Days</span>
              </div>
            </div>
    
            <!-- Legend Item 6 -->
            <div class="col-6 col-md-2 d-flex justify-content-center">
              <div class="legend-item">
                <div class="legend-box" style="background-color: #7aec1c;"></div>
                <span class="legend-box-span">Selected periods</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="current-month row align-items-center justify-content-center">
        <div class="col-md-3 text-center">
          <button (click)="changeMonth(-1)" class="btn btn-primary">‹</button>
        </div>
        <div class="col-md-6 text-center">
          <h4>{{ getMonthName() }} {{ year }}</h4>
        </div>
        <div class="col-md-3 text-center">
          <button (click)="changeMonth(1)" class="btn btn-primary">›</button>
        </div>
      </div> -->

      <div class="chart-container">
        <div class="chart" [style.grid-template-columns]="'repeat(' + (days.length + 1) + ', 1fr)'">
          <div class="month-header">Month</div>
          <div *ngFor="let section of getMonthSections()" class="month-name" [style.grid-column]="'span ' + section.dayCount">
            {{ section.monthName }}
          </div>

          <div class="day-header">Room</div>
          <div *ngFor="let dayObj of days" [ngClass]="{ 'day-header': true, 'weekend': isWeekend(dayObj) }">
            {{ dayObj.day }}<br>
            <span>{{ getDayName(dayObj) }}</span>
          </div>
          
          <ng-container *ngFor="let room of filteredRooms">
            <div class="room-name">Room {{ room.roomId }}</div>
            <div *ngFor="let dayObj of days" [ngClass]="getCellClass(room.roomId, dayObj)"
              (mousedown)="onMouseDown(room.roomId, dayObj, $event)" 
              (mouseover)="onMouseOver(room.roomId, dayObj, $event)"
              (mouseup)="onMouseUp(dayObj, $event)" class="cell"
              [ngStyle]="{ 'pointer-events': isCellClickable(room.roomId, dayObj) ? 'auto' : 'none' }"
              matTooltip="{{ getTooltipForCell(room.roomId, dayObj) }}"
              [matTooltipDisabled]="!hasValidReservation(room.roomId, dayObj)"
            >
              <span *ngIf="hasReservation(room.roomId, dayObj)" >
                {{ getCustomerName(room.roomId, dayObj) }}
              </span>
            </div>
          </ng-container>

        </div>
      </div>
    </div>
  </div>
</div>

<button class="btn-primary" mat-raised-button
        matTooltip="Info about the action"
        aria-label="Button that displays a tooltip when focused or hovered over">
  Action
</button>