body {
  font-family: Arial, sans-serif;
}

.chart-container {
  overflow-x: auto;
  margin: 20px 0;
  width: 100%;
}

.chart {
  display: grid;
  /* grid-template-columns: repeat(32, 1fr);  */
  background-color: #dee2e6;
}

.room-name {
  grid-column: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f9fa;
  /* border: 0.5px  rgb(90, 85, 85);  */
  border:1px solid #EAEAEA;
  height: 40px;
  padding: 0 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: bold;
}

.day-header {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
  /* border-bottom: 1px solid black;
  border-right: 1px solid black; */
  /* border: 0.5px  rgb(90, 85, 85);  */
  border:1px solid #FEFEFE;
  height: 50px;
  padding: 5px;  
  font-weight: bold;
}

/* .available {
  background-color: #d4edda;
} */

.current-month{
  padding-top: 10px;
}

h4{
  color: darkslategray;
}

.cell.available {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.not-available {
  background-color: #F7F7F7;
}

.weekend {
  background-color: #fff3cd;
}

/* .reserved {
  background-color: rgb(199, 97, 97);
 
} */

.available.weekend {
  background-color: #d4edda;
}

.cell {
  position: relative;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  border:1px solid #EAEAEA;
  /* overflow: hidden; */
}

.cell span {
  position: absolute;
  top: 50%; /* Vertically center the text */
  left: 50%; /* Horizontally center the text */
  transform: translate(-50%, -50%); /* Adjust positioning to center */
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflowed text */
  text-overflow: ellipsis; /* Add ellipsis for overflowing text */
}

.cell.reserved {
  position: relative;
  background-color: rgb(90, 90, 207);
  color: white;
  border: none;
  border-top: #333;
}


/* .cell.selected {
  background-color: #007bff;
  border: 2px solid #007bff;
} */

.selected {
  border: 2px solid #7aec1c; /* Blue border for selected cells */
}

.cell.selected-start {
  border-left: 2px solid #7aec1c;
}

.cell.selected-end {
  border-right: 2px solid #7aec1c;
}

.cell.available.arrival-day {
  background-color: #c3e6cb; /* Slightly greener color for arrival days */
  /* cursor: pointer; */
}

.cell.selected {
  background-color: #7aec1c !important; /* Blue background for selected cells */
  /* border: 2px solid #007bff !important;  */
  border-style: dashed;
}

.legends {
  width: 20%;
  padding-bottom: 20px;
  padding-top: 20px;
}

.row.legend {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.legend-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 15px; /* Space between items */
  font-size: 24px;
}

.legend-box {
  width: 20px;
  height: 20px;
  border-radius: 50%; /* Rounded corners for a cleaner look */
  margin-right: 10px; /* Space between box and text */
}

.legend-box-span{
  font-size: 20px;
  color: #333; /* Dark text for readability */
}
