.booking-chart-container {
  display: flex;
  overflow-x: auto;
}

.room-names {
  flex: 0 0 15vw;
  background-color: #f8f9fa;
  border-right: 1px solid #ddd;
  position: sticky;
  left: 0;
  z-index: 1;
}

.room-name {
  padding: 1rem;
  border-bottom: 0.1rem solid #ddd;
  text-align: center;
  font-size: 1rem;
  white-space: nowrap;
}

.booking-grid {
  flex: 1;
  overflow-x: auto;
}

.date-row, .booking-row {
  display: flex;
}

.date-cell {
  min-width: 4vw;
  padding: 1rem;
  text-align: center;
  border-bottom: 0.1rem solid #ddd;
  background-color: #f1f1f1;
  white-space: nowrap;
}

.booking-cell {
  min-width: 4vw;
  height: 5vh;
  border: 0.1rem solid #ddd;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

.booking-cell.selected {
  background-color: #007bff;
  color: white;
  border: none;
}

.month-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
