<!-- <div class="modal fade" id="bookingModal" tabindex="-1" aria-labelledby="bookingModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="bookingModalLabel">Booking Details</h5>
        <button type="button" class="btn-close" (click)="closeBookingModal()"></button>
      </div>
      <div class="modal-body">
        <div *ngIf="currentStep === 1">
          <form [formGroup]="bookingForm">
            <div class="mb-3">
              <label for="reservationId" class="form-label">Reservation ID</label>
              <input type="text" id="reservationId" class="form-control" formControlName="reservationId" readonly>
            </div>
            <div class="mb-3">
              <label for="roomNo" class="form-label">Room No.</label>
              <input type="text" id="roomNo" class="form-control" formControlName="roomNo" readonly>
            </div>
            <div class="mb-3">
              <label for="stayDateFrom" class="form-label">Stay Date From</label>
              <input type="date" id="stayDateFrom" class="form-control" formControlName="stayDateFrom" readonly>
            </div>
            <div class="mb-3">
              <label for="stayDateTo" class="form-label">Stay Date To</label>
              <input type="date" id="stayDateTo" class="form-control" formControlName="stayDateTo" readonly>
            </div>
            <div class="mb-3">
              <label for="numberOfDays" class="form-label">Number of Days</label>
              <input type="number" id="numberOfDays" class="form-control" formControlName="numberOfDays" readonly>
            </div>
            <div class="mb-3">
              <label for="reservationDate" class="form-label">Reservation Date</label>
              <input type="datetime-local" id="reservationDate" class="form-control" formControlName="reservationDate"  readonly>
            </div>
            <div class="mb-3">
              <label for="totalNumberOfGuests" class="form-label">Total Number of Guests</label>
              <input type="number" id="totalNumberOfGuests" class="form-control" formControlName="totalNumberOfGuests" readonly>
            </div>
            <div class="mb-3">
              <label for="pricePerDayPerPerson" class="form-label">Price Per Day Per Person</label>
              <input type="number" id="pricePerDayPerPerson" class="form-control" formControlName="pricePerDayPerPerson" readonly>
            </div>
            <div class="mb-3">
              <label for="totalPrice" class="form-label">Total Price</label>
              <input type="number" id="totalPrice" class="form-control" formControlName="totalPrice" readonly>
            </div>
          </form>
        </div>
        <div *ngIf="currentStep === 2">
          <form [formGroup]="customerForm">
            <div class="mb-3">
              <label for="customerId" class="form-label">Customer ID</label>
              <input type="text" id="customerId" class="form-control" formControlName="customerId" readonly>
            </div>
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input type="text" id="name" class="form-control" formControlName="name">
            </div>
            <div class="mb-3">
              <label for="age" class="form-label">Age</label>
              <input type="number" id="age" class="form-control" formControlName="age">
            </div>
            <div class="mb-3">
              <label for="birthDate" class="form-label">Birth Date</label>
              <input type="date" id="birthDate" class="form-control" formControlName="birthDate">
            </div>
            <div class="mb-3">
              <label for="address" class="form-label">Address</label>
              <input type="text" id="address" class="form-control" formControlName="address">
            </div>
            <div class="mb-3">
              <label for="mobileNumber" class="form-label">Mobile Number</label>
              <input type="text" id="mobileNumber" class="form-control" formControlName="mobileNumber">
            </div>
            <div class="mb-3">
              <label for="pincode" class="form-label">Pincode</label>
              <input type="text" id="pincode" class="form-control" formControlName="pincode">
            </div>
            <div class="mb-3">
              <label for="district" class="form-label">District</label>
              <input type="text" id="district" class="form-control" formControlName="district">
            </div>
            <div class="mb-3">
              <label for="city" class="form-label">City</label>
              <input type="text" id="city" class="form-control" formControlName="city">
            </div>
            <div class="mb-3">
              <label for="state" class="form-label">State</label>
              <input type="text" id="state" class="form-control" formControlName="state">
            </div>
            <div class="mb-3">
              <label for="country" class="form-label">Country</label>
              <input type="text" id="country" class="form-control" formControlName="country">
            </div>
          </form>
        </div>
        <div *ngIf="currentStep === 3">
          <form [formGroup]="paymentForm" *ngIf="currentStep === 3">
            <div class="mb-3">
              <label for="paymentId" class="form-label">Payment ID</label>
              <input type="text" id="paymentId" class="form-control" formControlName="paymentId" readonly>
            </div>
            <div class="mb-3">
              <label for="paymentMode" class="form-label">Payment Mode</label>
              <input type="text" id="paymentMode" class="form-control" formControlName="paymentMode">
            </div>
            <div class="mb-3">
              <label for="paidAmount" class="form-label">Paid Amount</label>
              <input type="number" id="paidAmount" class="form-control" formControlName="paidAmount">
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeBookingModal()">Close</button>
        <button type="button" class="btn btn-primary" (click)="previousStep()" [hidden]="currentStep === 1">Previous</button>
        <button type="button" class="btn btn-primary" (click)="nextStep()">
          {{ currentStep === 3 ? 'Submit Booking' : 'Next' }}
        </button>
      </div>
    </div>
  </div>
</div> -->