<h1>Component Created</h1>

<!-- <div class="container">
    <div class="row">
        <div class="col">
            <table>
                <thead>
                    <th>Room ID</th>
                    <th>From Date</th>
                    <th>To Date</th>
                    <th>Arrival Days</th>
                    <th>Departure Days</th>
                    <th>Min Stay</th>
                    <th>Max Stay</th>
                </thead>
                <tbody *ngFor="let reservation of reservations">
                
                        <td>{{reservation.roomId}}</td>
                
                </tbody>
            </table>
        </div>
    </div>
</div> -->