<div class="result-section p-3 border">
  <h3 style="color: darkcyan; text-align: center;" >Reservations</h3>
<table class="table table-light table-striped table-hover mt-4">
  <thead>
    <tr>
      <th>Reservation ID</th>
      <th>Room Name</th>
      <th>Arrival Day</th>
      <th>Departure Day</th>
      <th>Reservation Date</th>
      <th>No. of Guests</th>
      <th>Total Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let reservation of reservations">
      <td>{{ reservation.reservationId }}</td>
      <td>{{ reservation.roomId }}</td>
      <td>{{ reservation.arrivalDate }}</td>
      <td>{{ reservation.departureDate }}</td>
      <td>{{ reservation.reservationDate }}</td>
      <td>{{ reservation.numberOfGuest }}</td>
      <td>{{ reservation.totalPrice}}</td>
    </tr>
  </tbody>
</table>
</div>