
.modal-custom {
    max-width: 1000px; /* Adjust width as needed */
    width: 100%;
    height: 400px;
  }
  
  .modal-content {
    padding: 10px;
  }
  
  .modal-step-content {
    /* display: flex;
    flex-wrap: wrap; */
    gap: 8px;
  }

 
.modal-footer {
  display: flex;
  justify-content: space-between; /* Space between the buttons */
  align-items: center; /* Align items vertically center */
  padding: 1rem; /* Add some padding for spacing */
  border: none;
}
  
.customer{
  display: flex;
  /* justify-content: space-between; */
  justify-content: space-around;
}

/* Style for customer search input */
.search-customer {
  margin-top: 1rem;
}

/* Remove bullet points and format list items */
.customer-list ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0.5rem;
}

.customer-list ul li {
  /* border: 1px solid #ddd; */
  padding: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Styling individual customer details */
.customer-list ul li div {
  margin-bottom: 5px;
}

/* Hover effect for customer list */
.customer-list ul li.hover {
  background-color: #f1f1f1;
}

/* Change cursor to pointer */
.customer-list ul li:hover {
  background-color: #f0f8ff;
  cursor: pointer;
}


.modal-header{
  display: flex;
  justify-content: space-between; /* Space between the buttons */
  align-items: center; /* Align items vertically center */
  padding: 1rem; /* Add some padding for spacing */
  
}
  
  .form-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
  }
  
  .form-group {
    /* flex: 1 1 45%;  */
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .form-label {
    font-size: 1rem; /* Larger label font size */
    font-weight: bold;
  }
  
  .form-text {
    font-size: 1rem; /* Smaller text size */
    padding: px;
    /* background: #f8f9fa; */
    /* border: 1px solid #ced4da; */
    border-radius: 0.25rem;
    color: #495057;
  }

  .search{
    display: flex;
    align-content: space-around;
  }

  .search-btn{
    justify-items: center;
  }
  
  /* CSS for Invoice */
  /* styles.css */
  #invoice-content {
    font-family: Arial, sans-serif;
  }
  
  .invoice-header, .invoice-section {
    margin-bottom: 20px;
  }
  
  .invoice-header h1 {
    font-size: 24px;
    margin: 0;
  }
  
  .invoice-header p {
    margin: 5px 0;
  }
  
  .invoice-section {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
  }
  
  .invoice-section h2 {
    font-size: 18px;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
  
  .invoice-section p {
    margin: 5px 0;
  }
  
  .invoice-footer {
    text-align: center;
    font-weight: bold;
  }
  